nav ul {
    /*float: right;*/
    text-align: center;
    list-style-type: none; 
    margin: 35px 0 0 0; 
    padding: 0; 
}

nav li {    
    display: inline; 
}

nav ul li a {
    color: $black;
    font-family: 'Bitter', serif;
    font-weight: bold;
    margin: 4px;
    text-decoration:none;
    text-transform: uppercase;
    padding: 0 0 0 20px; 
}

nav a:hover, .active a, .current_page_item a, .current_page_parent a  {
    color: $red;
}

